body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, img, dl, dt, dd, table, th, td, blockquote, fieldset, div, strong, label, em {
    margin: 0px;
    padding: 0px;
    border: 0;
}
ul, ol, li {
    list-style: none;
}
input, button {
    margin: 0px;
    font-size: 12px;
    vertical-align: middle;
    line-height: inherit;
}
body {
    font-size: 14px;
    line-height: 1.42856;
    font-family: '微软雅黑', Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0 auto;
    color: #333;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
/* font */

.f12 {
    font-size: 12px;
}
.f13 {
    font-size: 13px;
}
.f14 {
    font-size: 14px;
}
.f15 {
    font-size: 15px;
}
.f16 {
    font-size: 16px;
}
.f20 {
    font-size: 18px;
}
/*font-weight*/

.fb {
    font-weight: bold;
}
.fn {
    font-weight: normal;
}
/*text-index*/

.t2 {
    text-indent: 2em;
}
/*line-height*/

.lh150 {
    line-height: 150%;
}
.lh180 {
    line-height: 180%;
}
.lh200 {
    line-height: 200%;
}
/*text-decoration*/

.unl {
    text-decoration: underline;
}
.no_unl {
    text-decoration: none;
}
/*text-align*/

.tl {
    text-align: left;
}
.tc {
    text-align: center;
}
.tr {
    text-align: right;
}
/*margin auto*/

.bc {
    margin-left: auto;
    margin-right: auto;
}
/*float-left*/

.fl {
    float: left;
    display: inline;
}
.fr {
    float: right;
    display: inline;
}
.cfr {
    float: right;
    display: inline;
}
.cb {
    clear: both;
}
.clearfix {
    display: block;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
    zoom: 1;
}
/*vertical-align*/

.vm {
    vertical-align: middle;
}
/*position*/

.pr {
    position: relative;
}
.pa {
    position: absolute;
}
.abs-right {
    position: absolute;
    right: 0px;
}
.abs-left {
    position: absolute;
    left: 0px;
}
.zoom {
    zoom: 1;
}
.w10 {
    width: 10px
}
.w20 {
    width: 20px
}
.w30 {
    width: 30px
}
.w40 {
    width: 40px
}
.w50 {
    width: 50px
}
.w60 {
    width: 60px
}
.w70 {
    width: 70px
}
.w80 {
    width: 80px
}
.w90 {
    width: 90px
}
.w100 {
    width: 100px;
}
.m10 {
    margin: 10px
}
.m15 {
    margin: 15px
}
.m30 {
    margin: 30px
}
.mt5 {
    margin-top: 5px
}
.mt10 {
    margin-top: 10px
}
.mt15 {
    margin-top: 15px
}
.mt20 {
    margin-top: 20px
}
.mt30 {
    margin-top: 30px
}
.mt50 {
    margin-top: 50px
}
.mt100 {
    margin-top: 100px
}
.mb10 {
    margin-bottom: 10px
}
.mb15 {
    margin-bottom: 15px
}
.mb20 {
    margin-bottom: 20px
}
.mb30 {
    margin-bottom: 30px
}
.mb50 {
    margin-bottom: 50px
}
.mb100 {
    margin-bottom: 100px
}
.ml5 {
    margin-left: 5px
}
.ml10 {
    margin-left: 10px
}
.ml15 {
    margin-left: 15px
}
.ml20 {
    margin-left: 20px
}
.ml30 {
    margin-left: 30px
}
.ml40{
    margin-left: 40px;
}
.ml50 {
    margin-left: 50px
}
.ml100 {
    margin-left: 100px
}
.ml120{
	margin-left:120px;
}
.ml240{
	margin-left:240px;
}
.mr5 {
    margin-right: 5px
}
.mr10 {
    margin-right: 10px
}

.mr15 {
    margin-right: 15px
}
.mr20 {
    margin-right: 20px
}
.mr30 {
    margin-right: 30px
}
.mr50 {
    margin-right: 50px
}
.mr100 {
    margin-right: 100px
}
.mr120{
	margin-right:120px;
}
.mr240{
	margin-right:240px;
}
.p10 {
    padding: 10px;
}
.p15 {
    padding: 15px;
}
.p30 {
    padding: 30px;
}
.pt5 {
    padding-top: 5px
}
.pt10 {
    padding-top: 10px
}
.pt15 {
    padding-top: 15px
}
.pt20 {
    padding-top: 20px
}
.pt30 {
    padding-top: 30px
}
.pt50 {
    padding-top: 50px
}
.pb5 {
    padding-bottom: 5px
}
.pb10 {
    padding-bottom: 10px
}
.pb15 {
    padding-bottom: 15px
}
.pb20 {
    padding-bottom: 20px
}
.pb30 {
    padding-bottom: 30px
}
.pb50 {
    padding-bottom: 50px
}
.pb100 {
    padding-bottom: 100px
}
.pl5 {
    padding-left: 5px
}
.pl10 {
    padding-left: 10px
}
.pl15 {
    padding-left: 15px
}
.pl20 {
    padding-left: 20px
}
.pl30 {
    padding-left: 30px
}
.pl50 {
    padding-left: 50px
}
.pl100 {
    padding-left: 100px
}
.pr5 {
    padding-right: 5px
}
.pr10 {
    padding-right: 10px
}
.pr15 {
    padding-right: 15px
}
.pr20 {
    padding-right: 20px
}
.pr30 {
    padding-right: 30px
}
.pr50 {
    padding-right: 50px
}
.pr100 {
    padding-right: 100px
}
.hidden {
    visibility: hidden;
}
.none {
    display: none;
}
